In [1]:
import pandas as pd

In [2]:
toronto_df = pd.read_csv("https://s3.ap-geo.objectstorage.softlayer.net/capstone-donotdelete-pr-uqwkbtbo6virhb/torontoPostalCode.csv?response-content-disposition=attachment%3B%20filename%3D%22torontoPostalCode.csv%22&response-content-type=text%2Fcsv&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190728T185049Z&X-Amz-SignedHeaders=host&X-Amz-Expires=86400&X-Amz-Credential=e9703399f08740b6b21f0ef61c9a0f51%2F20190728%2Fap-geo%2Fs3%2Faws4_request&X-Amz-Signature=845635c6806ffbbde40ef04e70e0a856a3849512f13ea4906bd17167617ffa35",error_bad_lines=False)

In [3]:
toronto_df.head()

  Postcode       Borough   Neighbourhood
0      M1A  Not assigned    Not assigned
1      M1B   Scarborough           Rouge
2      M1B   Scarborough         Malvern
3      M1C   Scarborough  Highland Creek
4      M1C   Scarborough      Rouge Hill

In [17]:
toronto_df = toronto_df.rename(columns={'Postcode': 'Postalcode'})
toronto_df.head()

  Postalcode       Borough   Neighbourhood
0        M1A  Not assigned    Not assigned
1        M1B   Scarborough           Rouge
2        M1B   Scarborough         Malvern
3        M1C   Scarborough  Highland Creek
4        M1C   Scarborough      Rouge Hill

In [18]:
df_new = toronto_df[toronto_df.Borough != 'Not assigned']
df_new.head()

  Postalcode      Borough   Neighbourhood
1        M1B  Scarborough           Rouge
2        M1B  Scarborough         Malvern
3        M1C  Scarborough  Highland Creek
4        M1C  Scarborough      Rouge Hill
5        M1C  Scarborough      Port Union

In [20]:
df = df_new.groupby(['Postalcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df.head()

  Postalcode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [21]:
is_Not_Ass = df['Neighbourhood']== 'Not assigned'
is_Not_Ass.head()

0    False
1    False
2    False
3    False
4    False
Name: Neighbourhood, dtype: bool

In [22]:
df1 = df[is_Not_Ass]

In [23]:
df1

   Postalcode       Borough Neighbourhood
85        M7A  Queen's Park  Not assigned

In [24]:
import numpy as np
df['Neighbourhood'] = np.where(df['Neighbourhood'] == 'Not assigned', df['Borough'], df['Neighbourhood'])

In [25]:
df.head()

  Postalcode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [26]:
df.shape

(103, 3)

In [27]:
geoCo = pd.read_csv('https://cocl.us/Geospatial_data')
geoCo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [28]:
geoCo = geoCo.rename(columns={'Postal Code': 'Postalcode'})
geoCo.head()

  Postalcode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [33]:
df_merge = pd.merge(df, geoCo, on='Postalcode')
df_merge.head()

,Postalcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476